@import '../../variables.scss';

.card-list-wrapper {
  padding: 1rem;
  margin: 1.5rem auto;
  max-width: 768px;
  column-gap: 1.5rem;
  column-count: 1;

  @media (min-width: $mobile) {
    column-count: 2;
  }

  @media (min-width: $tablet) {
    column-count: 3;
    max-width: 100%;
  }

  @media (min-width: $desktop) {
    column-count: 4;
    max-width: $desktop-xl;
  }
}