@import '../../variables.scss';

.card-wrapper {
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: $box-shadow;

  margin-block-start: 0;
  margin-block-end: 0 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;

  figcaption {
    padding: 0.8rem 1rem 0;
  }

  ul {
    list-style-type: none;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  margin-bottom: 1rem;



  display: inline-block;
  margin: 0 0 1.5rem;
  width: 100%;
}